@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem; 
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12.5rem; /* 200px / 16 */
    background-color: #f5f5f5;
    text-align: center;
}

.reviews {
    /* Container styles here */
}

.review {
    background-color: #e0e0e0;
    padding: 1.25rem; /* 20px / 16 */
    width: 30rem;     /* Already in rem */
    margin-bottom: 1.25rem; 
    border-radius: 0.625rem; /* 10px / 16 */
}

.painting-title {
    font-size: 1.875rem; 
    margin-bottom: 0.625rem; 
    font-weight: 700;
    color: #02a980;
}

.name {
    font-size: 4.375rem; /* 70px / 16 */
    margin-bottom: 0.625rem; 
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: #02a980;
}

.gallery img {
    max-width: 25rem; 
    max-height: 25rem
}

.social-links .social-link img {
    width: 1.875rem;
    height: 1.875rem;
}

.social-link {
    display: flex;
    align-items: center; 
    gap: 0.625rem; /* 10px / 16 */
}
